body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    width: 2;
    overflow-y: auto;
}

aside {
    width: 1;
    overflow-y: auto;
}


    